## Data Science with Python Pandas

### Exploring Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creates a series

pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])

a   -0.266667
b    1.381463
c    1.519667
d   -0.633461
e   -1.144476
dtype: float64

In [5]:
# Series are index-able

s = pd.Series(np.random.randn(5))

print(s[0])

1.84217417778

In [8]:
# Creating a dataframe
df = pd.DataFrame(s, columns=['Column 1'])
df

   Column 1
0  1.842174
1  0.277416
2 -0.252099
3 -0.705303
4 -0.756494

In [9]:
df['Column 1']

0    1.842174
1    0.277416
2   -0.252099
3   -0.705303
4   -0.756494
Name: Column 1, dtype: float64

In [11]:
# Add other columns
df['Column 2'] = df['Column 1'] ** 4
df

   Column 1   Column 2
0  1.842174  11.516560
1  0.277416   0.005923
2 -0.252099   0.004039
3 -0.705303   0.247458
4 -0.756494   0.327507

In [12]:
# Sort the dataframe but preserve the actual dataframe
df.sort_values(by = "Column 1")

   Column 1   Column 2
4 -0.756494   0.327507
3 -0.705303   0.247458
2 -0.252099   0.004039
1  0.277416   0.005923
0  1.842174  11.516560

In [14]:
# Boolean indexing
df[df['Column 1'] <= 0]

   Column 1  Column 2
2 -0.252099  0.004039
3 -0.705303  0.247458
4 -0.756494  0.327507

In [15]:
# Apply a function to the entire dataframe
df.apply(lambda x: min(x) + max(x))

Column 1     1.085681
Column 2    11.520599
dtype: float64

In [32]:
# Describe the DataFrame
table = df.describe()


print(table["Column 1"]["mean"])
print(table["Column 2"]["count"])

0.0811389663273
5.0