In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

% matplotlib inline
plt.style.use('ggplot')

In [5]:
# Read in the data and form a dataframe
df = pd.read_csv('GlobalTemperatures.csv')

# Show the first 5 rows of the table
df.head(5)

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Considering only the LandAverageTemperature

df = df.ix[:, :2]
# df = df.iloc[:, :2]  # Panda's recommended method. Above one is depreciated
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  This is separate from the ipykernel package so we can avoid doing imports until

           dt  LandAverageTemperature
0  1750-01-01                   3.034
1  1750-02-01                   3.083
2  1750-03-01                   5.626
3  1750-04-01                   8.490
4  1750-05-01                  11.573

In [9]:
df.describe()

       LandAverageTemperature
count             3180.000000
mean                 8.374731
std                  4.381310
min                 -2.080000
25%                  4.312000
50%                  8.610500
75%                 12.548250
max                 19.021000

In [ ]:
# Cursory plot 
plt.figure(figure = (15, 5))  # Define how big graph is
plt.plot(df['Average Land Temperature 1780-2015'])