In [2]:
import pandas as pd

In [4]:
from numpy import NaN, NAN, nan

In [10]:
visted = pd.read_csv('https://raw.githubusercontent.com/chendaniely/scipy-2017-tutorial-pandas/master/data/survey_visited.csv')
visted

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [11]:
ebola = pd.read_csv('https://raw.githubusercontent.com/chendaniely/scipy-2017-tutorial-pandas/master/data/ebola_country_timeseries.csv')

In [14]:
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [17]:
ebola['Cases_Guinea'].value_counts(dropna=False).head()

NaN       29
 86.0      3
 495.0     2
 112.0     2
 390.0     2
Name: Cases_Guinea, dtype: int64

In [18]:
# Count number of unique values
ebola['Cases_Guinea'].nunique()

88

In [19]:
# Return all the unique values
ebola['Cases_Guinea'].unique()

array([ 2776.,  2775.,  2769.,    nan,  2730.,  2706.,  2695.,  2630.,
        2597.,  2571.,  2416.,  2292.,  2164.,  2134.,  2047.,  1971.,
        1919.,  1878.,  1760.,  1731.,  1667.,  1906.,  1553.,  1540.,
        1519.,  1472.,  1350.,  1298.,  1199.,  1157.,  1074.,  1022.,
        1008.,   942.,   936.,   899.,   861.,   812.,   771.,   648.,
         607.,   579.,   543.,   519.,   510.,   506.,   495.,   485.,
         472.,   460.,   427.,   415.,   410.,   411.,   406.,   409.,
         408.,   412.,   413.,   390.,   398.,   351.,   344.,   328.,
         291.,   281.,   258.,   248.,   233.,   236.,   235.,   231.,
         226.,   224.,   218.,   208.,   203.,   197.,   168.,   159.,
         158.,   151.,   143.,   127.,   122.,   112.,   103.,    86.,
          49.])