In [1]:
import pandas as pd

In [2]:
def my_sq(x):
    # squares given values
    return x ** 2

my_sq(4)

16

In [3]:
def avg(x, y):
    # Calculate average between 2 number
    return (x+y)/2

avg(10, 20)

15.0

In [4]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})

df

    a   b
0  10  20
1  20  30
2  30  40

In [5]:
# Vectorize example (applicable to pd.Series)

df.a ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [6]:
df.a.apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [7]:
df.apply(my_sq)

     a     b
0  100   400
1  400   900
2  900  1600

In [8]:
# Demonstrates that `.apply` uses a column-by-column basis

def print_me(x):
    print(x)

df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [11]:
# As usual, `axis=` parameter can be used to run `.apply`
# on a row-by-row basis

df.apply(print_me, axis=1)

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object